.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    grid-column: 1/2;
}

.topbar {
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    grid-column: 2/3;
}

.contentpanel {
    grid-column: 2/3;
}